@using Proyecto_Final.Models.Entities;
@model List<Cliente>;



@* HTML *@

<a asp-action="CreateCliente" asp-controller="Cliente" style="margin-bottom:10px;">Crear nueva cuenta</a>

<h1 style="text-align:center">Listado de clientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>DNI</th>
            <th>MEMBRESIA</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.clienteId</td>
                <td>@cliente.Nombre</td>
                <td>@cliente.Apellido</td>
                <td>@cliente.Dni</td>
                <td>@cliente.Membresia</td>
            </tr>
        }
    </tbody>


</table>